
<html>
<head>
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>

</head>
<body>
<H1>Neighborhood Coffee Shop Utility Scores</H1>

<form action="/">
<select name="chosen_city">
	{% for feature in list_of_cities %}
		{% if feature == chosen_city %}
			<option selected value="{{ feature }}">{{ feature }}</option> 
		{% else %} 
			<option value="{{ feature }}">{{ feature }}</option> 
		{% endif %}
	{% endfor %}
</select>
<input type="submit">
</form>

<div style="width: 40%; display: inline-block;">
{{ script|safe }}
{{ div|safe }}
</div>

<div style="width: 40%; display: inline-block;">
{{ script2|safe }}
{{ div2|safe }}
</div>

</body>
</html>
