gunicorn==19.9.0
requests==2.21.0
pandas==0.24.2
bokeh==1.2.0
flask==0.12.2
pip==10.0.1
numpy==1.16.2
scikit-learn==0.20.3
scipy==1.2.1








Quandl==3.3.0
dill==0.2.7.1
jinja2==2.10
geopandas==0.5.0
Shapely==1.6.4.post2
urllib3==1.26.5
